@model CodingClass_7_3_2019.StudentAccount

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>StudentAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type ="hidden" asp-for="StudentAccountNumber" />
            <div class="form-group">
                <label asp-for="StudentFirstName" class="control-label"></label>
                <input asp-for="StudentFirstName" class="form-control" />
                <span asp-validation-for="StudentFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentLastName" class="control-label"></label>
                <input asp-for="StudentLastName" class="form-control" />
                <span asp-validation-for="StudentLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentEmailAddress" class="control-label"></label>
                <input asp-for="StudentEmailAddress" class="form-control" />
                <span asp-validation-for="StudentEmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentDifficultyLevel" class="control-label"></label>
                <select asp-for="StudentDifficultyLevel" asp-items="Html.GetEnumSelectList<CodingClass_7_3_2019.ClassDifficultyLevel>()" class="form-control"></select>
                <span asp-validation-for="StudentDifficultyLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentClassType" class="control-label"></label>
                <select asp-for="StudentClassType" asp-items="Html.GetEnumSelectList<CodingClass_7_3_2019.ClassType>()" class="form-control"></select>
                <span asp-validation-for="StudentClassType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
